pre.rendered-ansi-block {
  background-color: var(--ansi-viewer-bg, var(--code-background));
  color: var(--ansi-viewer-fg, var(--code-normal));
}

.ansi-black-fg {
  color: var(--ansi-black-fg, var(--color-base-100))
}

.ansi-black-bg {
  background-color: var(--ansi-black-fg, var(--color-base-100))
}

.ansi-red-fg {
  color: var(--ansi-red-fg, var(--color-red))
}

.ansi-red-bg {
  background-color: var(--ansi-red-fg, var(--color-red))
}

.ansi-green-fg {
  color: var(--ansi-green-fg, var(--color-green))
}

.ansi-green-bg {
  background-color: var(--ansi-green-fg, var(--color-green))
}

.ansi-yellow-fg {
  color: var(--ansi-yellow-fg, var(--color-yellow))
}

.ansi-yellow-bg {
  background-color: var(--ansi-yellow-fg, var(--color-yellow))
}

.ansi-blue-fg {
  color: var(--ansi-blue-fg, var(--color-blue))
}

.ansi-blue-bg {
  background-color: var(--ansi-blue-fg, var(--color-blue))
}

.ansi-magenta-fg {
  color: var(--ansi-magenta-fg, var(--color-purple))
}

.ansi-magenta-bg {
  background-color: var(--ansi-magenta-fg, var(--color-purple))
}

.ansi-cyan-fg {
  color: var(--ansi-cyan-fg, var(--color-cyan))
}

.ansi-cyan-bg {
  background-color: var(--ansi-cyan-fg, var(--color-cyan))
}

.ansi-white-fg {
  color: var(--ansi-white-fg, var(--color-base-00))
}

.ansi-white-bg {
  background-color: var(--ansi-white-fg, var(--color-base-00))
}
